@page "/cxpregistrarnc/{Id:int?}"
@page "/cxpregistrarnc/param/suplidor/{SuplidorId:int?}"
@inject IDbContextFactory<ApplicationDbContext> DbContextFactory
@inject IMessage IMessage
@inject AuthenticationStateProvider AuthStateProv
@inject UserManager<Usuario> UserManager
@inject ProtectedLocalStorage LocalStorage

<RadzenCard>
    <h5>Registro de Notas de Credito</h5>
</RadzenCard>
@if(IsBusy)
{
    <div class="middle-box">
        <MudProgressCircular Indeterminate="true" Color="Color.Info"/>
    </div>
}
else
{
<RadzenCard>
    <EditForm Model="NotaCredito" OnValidSubmit="RegistrarNotaCredito">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <RadzenCard Style="padding:5px">
            <div class=row>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Suplidor:</label>
                        <div>
                            <RadzenDropDown AllowFiltering="true"
                                            Data="Suplidores"
                                            @bind-Value="NotaCredito.SuplidorId"
                                            TextProperty="Nombre"
                                            ValueProperty="Id" 
                                            Change="CargarComprasACredito"/>
                            <ValidationMessage For="@(()=> NotaCredito.SuplidorId)" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Tipo Nota de Credito:</label>
                        <div>
                            <RadzenDropDown Data="TipoNotasCreditos"
                                            @bind-Value="NotaCredito.CXPTransaccionTipoDocumentoId"
                                            TextProperty="Nombre"
                                            ValueProperty="Id" />
                            <ValidationMessage For="@(()=> NotaCredito.CXPTransaccionTipoDocumentoId)" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Fecha:</label>
                        <div>
                            <RadzenDatePicker @bind-Value="NotaCredito.Fecha" />
                            <ValidationMessage For="@(()=> NotaCredito.Fecha)" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Aplicar Monto a Facturas:</label>
                        <div>
                            <MudButton OnClick="AplicarMonto" Disabled="MontosAplicados" StartIcon="@Icons.Material.Outlined.Add" Color="Color.Primary" Variant="Variant.Outlined">Aplicar</MudButton>
                            <MudButton OnClick="RetirarAplicacionMonto" Disabled="!MontosAplicados" StartIcon="@Icons.Material.Outlined.Clear" Color="Color.Secondary" Variant="Variant.Outlined">Quitar</MudButton>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Monto:</label>
                        <div>
                            <RadzenNumeric Disabled="@MontosAplicados" ShowUpDown="false" @bind-Value="NotaCredito.Monto" TValue="decimal" Format="0.00" Change="@(args => OnChangeMonto(args))" />
                            <ValidationMessage For="@(()=> NotaCredito.Monto)" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Monto Restante Aplicar:</label>
                        <div>
                            <RadzenLabel Style="color: indianred" Text="@MontoRestanteAplicar.ToString("C2")" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Salvar:</label>
                        <div>
                            <MudButton OnClick="RegistrarNotaCredito" StartIcon="@Icons.Material.Outlined.Save" Color="Color.Primary" Variant="Variant.Outlined">Salvar</MudButton>
                        </div>
                    </div>
                </div>
            </div>
        </RadzenCard>
        <RadzenCard Style="padding:15px">
            <div class="row">
                <div class="table-responsive">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th col="scope">No. Factura</th>
                                <th col="scope">Fecha</th>
                                <th col="scope">Balance Antes</th>
                                <th col="scope">Monto a aplicar</th>
                                <th col="scope">Balance Despues</th>
                                <th col="scope"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (NotaCredito.CXPTransaccionDetalles.Count > 0)
                            {
                                @foreach (var cxpcompras in NotaCredito.CXPTransaccionDetalles)
                                {
                                    <tr>
                                        <td>@cxpcompras.Compra.Id</td>
                                        <td>@cxpcompras.Compra.FechaHoraFactura.ToString("d")</td>
                                        <td>@cxpcompras.BalanceAntes</td>
                                        <td>
                                            <RadzenNumeric @bind-Value="cxpcompras.MontoAAplicar" ShowUpDown="false" Format="0.00" TValue="decimal" Change="@(args => OnChangeMontoAplicado(args, cxpcompras))"></RadzenNumeric>
                                        </td>
                                        <td>@cxpcompras.BalanceDespues</td>
                                        <td></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </RadzenCard>
    </EditForm>
</RadzenCard>
}

@code
{
    [Parameter]
    public int? Id { get; set; }
    [Parameter]
    public int? SuplidorId { get; set; }

    private Empresa Empresa { get; set; } = new Empresa();
    private Sucursal Sucursal { get; set; } = new Sucursal();
    private CXPTransaccion NotaCredito { get; set; } = new CXPTransaccion();
    private List<Suplidor> Suplidores { get; set; }
    private List<CXPTransaccionTipoDocumento> TipoNotasCreditos { get; set; }
    private List<CXPCompraBalance> ComprasCreditoPendientes { get; set; }

    public decimal MontoRestanteAplicar { get; set; }
    public bool MontosAplicados { get; set; } = false;
    public bool IsBusy { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        NotaCredito.CXPTransaccionTipoId = 1;
        NotaCredito.Fecha = DateTime.Now;
        await CargarUsuario();

        if (Id == null && SuplidorId != null)
        {
            NotaCredito.SuplidorId = (int)SuplidorId;
            await CargarComprasACredito();
        }
        else if(Id != null && SuplidorId == null)
        {
            await CargarNotaCredito();
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await CargarEmpresa();
            await CargarSucursal();
            await CargarSuplidores();
            await CargarTipoNotasCreditos();
        }
    }
    private async Task CargarEmpresa()
    {
        var result = await LocalStorage.GetAsync<Empresa>("Empresa");
        if (result.Success)
        {
            Empresa = result.Value;
            StateHasChanged();
        }
    }

    private async Task CargarSucursal()
    {
        var result = await LocalStorage.GetAsync<Sucursal>("Sucursal");
        if (result.Success)
        {
            Sucursal = result.Value;
            StateHasChanged();
        }
    }

    private async Task CargarComprasACredito()
    {
        IsBusy = true;
        using var DbContext = DbContextFactory.CreateDbContext();

        ComprasCreditoPendientes = await DbContext.CXPCompraBalances
        .Include(cxpv => cxpv.Compra)
        .ThenInclude(v => v.Almacen)
        .Include(cxpv => cxpv.Compra)
        .ThenInclude(v => v.Suplidor)
        .Include(cxpv => cxpv.Compra)
        .ThenInclude(v => v.TipoFactura)
        .Where(cxpv => cxpv.Compra.TipoFacturaId == 1 &&
        cxpv.Compra.SuplidorId == NotaCredito.SuplidorId  &&
        cxpv.Balance > 0)
        .ToListAsync();



        @if (ComprasCreditoPendientes.Count > 0)
        {

            foreach (var compracred in ComprasCreditoPendientes)
            {
                var NewNCD = new CXPTransaccionDetalle
                {
                    CompraId = compracred.CompraId,
                    Compra = compracred.Compra,
                    BalanceAntes = compracred.Balance,
                    BalanceDespues = compracred.Balance
                };

                NotaCredito.CXPTransaccionDetalles.Add(NewNCD);
            }
        }

        IsBusy =  false;
    }

    public async Task CargarUsuario()
    {

        IsBusy =  true;
        var AState = await AuthStateProv.GetAuthenticationStateAsync();
        var User = AState.User;
        var user = await UserManager.FindByNameAsync(User.Identity.Name);
        NotaCredito.UsuarioId = user.Id;
        IsBusy =  false;
    }

    private async Task CargarNotaCredito()
    {
        IsBusy =  true;
        using var DbContext = DbContextFactory.CreateDbContext();

        NotaCredito = await DbContext.CXPTransacciones
        .Include(nc => nc.Suplidor)
        .Include(nc => nc.Usuario)
        .Include(nc => nc.CXPTransaccionTipo)
        .Include(nc => nc.CXPTransaccionTipoDocumento)
        .Include(nc => nc.CXPTransaccionDetalles)
        .ThenInclude(ncd => ncd.Compra)
        .SingleOrDefaultAsync(nc => nc.Id == Id && nc.CXPTransaccionTipoId == 1);
        IsBusy =  false;
    }

    private async Task CargarSuplidores()
    {
        using var DbContext = DbContextFactory.CreateDbContext();

        Suplidores = await DbContext.Suplidores.Where(s=>s.EmpresaId == Empresa.Id && s.SucursalId == Sucursal.Id && s.Activo == true).ToListAsync();
        StateHasChanged();
    }

    private async Task CargarTipoNotasCreditos()
    {
        IsBusy =  true;
        using var DbContext = DbContextFactory.CreateDbContext();

        TipoNotasCreditos = await DbContext.CXPTransaccionTipoDocumentos.Where(ttd=> ttd.EmpresaId == Empresa.Id && ttd.SucursalId == Sucursal.Id && ttd.CXPTransaccionTipoId == 1).ToListAsync();
        IsBusy =  false;
        StateHasChanged();
    }

    private void OnChangeMontoAplicado(dynamic valor, CXPTransaccionDetalle item)
    {
        var detalle = NotaCredito.CXPTransaccionDetalles.SingleOrDefault(cxpd => cxpd.CompraId == item.CompraId);
        detalle.MontoAAplicar = valor;
        detalle.BalanceDespues = detalle.BalanceAntes + valor;

        MontoRestanteAplicar = MontoRestanteAplicar - valor;
    }

    private void OnChangeMonto(dynamic valor)
    {
        MontoRestanteAplicar = valor;
    }

    private void AplicarMonto()
    {
        if (MontoRestanteAplicar > 0)
        {
            foreach (var item in NotaCredito.CXPTransaccionDetalles)
            {
                if (MontoRestanteAplicar > item.BalanceAntes)
                {
                    OnChangeMontoAplicado(item.BalanceAntes, item);
                }
                else
                {
                    OnChangeMontoAplicado(MontoRestanteAplicar, item);
                }
            }

            MontosAplicados = true;
        }
    }

    private void RetirarAplicacionMonto()
    {
        foreach (var item in NotaCredito.CXPTransaccionDetalles)
        {
            MontoRestanteAplicar += item.MontoAAplicar;
            item.BalanceDespues = item.BalanceAntes;
            item.MontoAAplicar = 0;
        }

        MontosAplicados = false;
    }

    private async Task RegistrarNotaCredito()
    {
        if (NotaCredito.Monto <= 0)
        {
            await IMessage.Alert("El monto debe de ser mayor a cero");
            return;
        }

        var itemaplicados = NotaCredito.CXPTransaccionDetalles.Sum(nc => nc.MontoAAplicar);

        if (itemaplicados <= 0)
        {
            await IMessage.Alert("El detalle no tiene montos aplicados, debe de aplicar montos a las facturas!");
            return;
        }
        
        if (MontoRestanteAplicar != 0)
        {
            await IMessage.Alert("El monto restante aun no esta aplicado completamente, debe aplicar la totalidad del monto!");
            return;
        }

        foreach(var detalle in NotaCredito.CXPTransaccionDetalles.ToList())
        {
            if (detalle.Compra.FechaHoraFactura > NotaCredito.Fecha)
            {
                await IMessage.Alert("La fecha de la transaccion no puede ser menor a la de las facturas seleccionadas!");
                return;
            }
        }

        IsBusy = true;

        NotaCredito.EmpresaId = Empresa.Id;
        NotaCredito.SucursalId = Sucursal.Id;
        NotaCredito.FechaRegistro = DateTime.Now;

        using var DbContext = DbContextFactory.CreateDbContext();

        var NuevaNC = new CXPTransaccion();

        NuevaNC = NotaCredito;
        
        foreach(var item in NuevaNC.CXPTransaccionDetalles.ToList())
        {
            item.Compra = null;
            if(item.MontoAAplicar == 0)
            {
                NuevaNC.CXPTransaccionDetalles.Remove(item);
            }
        }

        await DbContext.AddAsync(NuevaNC);


        foreach(var item in NotaCredito.CXPTransaccionDetalles)
        {
            if(item.MontoAAplicar > 0)
            {
                var CXPBalanceCompra = await DbContext.CXPCompraBalances.SingleOrDefaultAsync(cxpvb=>cxpvb.CompraId == item.CompraId);
                CXPBalanceCompra.Balance = CXPBalanceCompra.Balance - item.MontoAAplicar;
                DbContext.Update(CXPBalanceCompra);
                await DbContext.SaveChangesAsync();
            }
        }

        NotaCredito = new CXPTransaccion();
        IsBusy =  false;
        await IMessage.Success("Registro exitoso!");

    }
}