@inject IMessage IMessage
@inject IDbContextFactory<ApplicationDbContext> DbContextFactory
@inject ProtectedLocalStorage LocalStorage
<!-- Modal -->
<MudOverlay Visible="true" DarkBackground="true">
    <div class="modal fade show" id="exampleModal" tabindex="-1" style="display:block" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Agregar Producto a Orden</h5>
                    <button type="button" class="close" @onclick="OnCancel">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group" style="padding-left:1rem">
                            <div>Producto:</div>
                            <div>
                                <RadzenLabel class="form-control" Text="@Detalle.Producto.Nombre" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group">
                                <div>Cantidad</div>
                                <div>
                                    <RadzenNumeric TValue="int" @bind-Value="Detalle.Cantidad" Change="@((args)=>CantidadModalChange(args))" />
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <div>Precio:</div>
                                <div>
                                    <RadzenLabel class="form-control" Text="@Detalle.Producto.Precio.ToString("C2")" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <div>Desc. %:</div>
                                <div>
                                    <RadzenNumeric TValue="decimal" @bind-Value="Detalle.DescuentoPorcentaje" ShowUpDown="true" Format="0.00" Change="@( ()=> CalcularDescuentoPorciento())" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <div>Descuento:</div>
                                <div>
                                    <RadzenNumeric TValue="decimal" @bind-Value="Detalle.Descuento" ShowUpDown="false" Format="0.00" Change="@( (args) => DescuentoModalChange(args))" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <div>Importe:</div>
                                <div>
                                    <RadzenLabel class="form-control" Text="@Detalle.Importe.ToString("C2")" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <RadzenButton class="btn btn-danger" Click="OnDelete">Eliminar Producto</RadzenButton>
                    <RadzenButton class="btn btn-primary" Click="OnConfirm">Agregar Producto</RadzenButton>
                </div>
            </div>
        </div>
    </div>
</MudOverlay>
@code {

    [Parameter] public VentaDetalle Detalle { get; set; }
    [Parameter] public Almacen Almacen { get; set; }
    [Parameter] public EventCallback OnCancel { get; set; }
    [Parameter] public EventCallback OnConfirm { get; set; }
    [Parameter] public EventCallback OnDelete { get; set; }

    public Empresa Empresa { get; set; } = new();

    public decimal MontoPorcentaje { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await CantidadModalChange(Detalle.Cantidad);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await CargarEmpresa();
        }
    }
    private async Task CargarEmpresa()
    {
        var result = await LocalStorage.GetAsync<Empresa>("Empresa");
        if (result.Success)
        {
            Empresa = result.Value;
            Detalle.DescuentoPorcentaje = Empresa.PorcientoDescuento;
            CalcularDescuentoPorciento();
            StateHasChanged();
        }
    }

    private async Task CantidadModalChange(dynamic value)
    {
        if(Detalle.Producto.ManejaExistencia)
        {
            using var DbContext = DbContextFactory.CreateDbContext();
            var Existencias = await DbContext.Existencias.Where(e => e.ProductoId == Detalle.ProductoId && e.AlmacenId == Almacen.Id).ToListAsync();
            if (Existencias.Sum(e=>e.Cantidad) <= 0)
            {
                await IMessage.Alert("No hay existencias para este producto");
                return;
            }

            if (value > Existencias.Sum(e => e.Cantidad))
            {
                await IMessage.Alert("No hay existencias suficientes para este producto");
                return;
            } 
        }

        CalcularDescuentoPorciento();
        CalcularImporte();
        StateHasChanged();
    }

    private void DescuentoModalChange(dynamic value)
    {
        if(value > 0)
        {
            Detalle.Descuento = value;
            Detalle.DescuentoPorcentaje = Detalle.Descuento * 100 / (Detalle.Precio * Detalle.Cantidad);
        }
        else
        {
            Detalle.Importe = Detalle.Cantidad * Detalle.Precio;
        }
        CalcularImporte();
    }

    private void CalcularDescuentoPorciento()
    {
        var Porcentaje = (Detalle.DescuentoPorcentaje / 100);
        Detalle.Descuento = Porcentaje * (Detalle.Precio * Detalle.Cantidad);
        CalcularImporte();
    }

    private void CalcularImporte()
    {
        Detalle.Importe = Detalle.Cantidad * Detalle.Precio - Detalle.Descuento;
        StateHasChanged();
    }
}

