@page "/cuadres/vista/{Id:int}"
@attribute [Authorize(Roles = "SuperAdmin,Admin,Cajero/a,SupervisorCaja")]

@inject IDbContextFactory<ApplicationDbContext> DbContextFactory
@inject IMessage IMessage
@inject NavigationManager NavManager
@inject ProtectedLocalStorage LocalStorage
@inject IJSRuntime JSRuntime


<MudPaper>
    <MudToolBar Dense="true">
        <h5>Vista de Cuadre</h5>
        <MudSpacer/>
        <MudIconButton Icon="@Icons.Material.Filled.Print" OnClick="@(async () => await Imprimir())" />
    </MudToolBar>
</MudPaper>

@if(IsBusy)
{
    <MudOverlay Visible="@IsBusy" DarkBackground="true" Absolute="true">
        <MudProgressCircular Color="Color.Info" Indeterminate="true" />
    </MudOverlay>
}
else
{

    <RadzenCard Style="padding:5px;font-size:small">
        <RadzenCard Style="padding:5px">
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>Fecha Apertura:</label>
                        <div>
                            <RadzenLabel Text="@Cuadre.FechaApertura.ToString("f")" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>Usuario:</label>
                        <div>
                            <RadzenLabel Text="@Cuadre.Usuario.UserName" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>No. Ventas:</label>
                        <div>
                            <RadzenLabel Text="@Cuadre.Ventas.Count.ToString()" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>No. Recibos de Ingresos:</label>
                        <div>
                            <RadzenLabel Text="@Cuadre.RecibosIngresos.Count.ToString()" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>No. Devoluciones al Contado:</label>
                        <div>
                            <RadzenLabel Text="@Cuadre.Devoluciones.Where(dv=>dv.Venta.TipoFacturaId == 2).Count().ToString()" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>No. Devoluciones a Credito:</label>
                        <div>
                            <RadzenLabel Text="@Cuadre.Devoluciones.Where(dv=>dv.Venta.TipoFacturaId == 1).Count().ToString()" />
                        </div>
                    </div>
                </div>
            </div>
        </RadzenCard>
        <MudTabs>
            <MudTabPanel Text="Detalles">
                <RadzenCard>
                    <div class="row">
                        <div class="col-sm-8">
                            <RadzenCard Style="padding:5px">
                                <h5>Desglose</h5>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="table-responsive-sm">
                                            <table class="table table-sm" style="width:100%">
                                                <thead>
                                                    <tr>
                                                        <th colspan="3" scope="col" style="text-align: center">
                                                            <h5>Billetes</h5>
                                                        </th>
                                                    </tr>
                                                    <tr>
                                                        <th scope="col">Valor</th>
                                                        <th scope="col" style="width:10%">Cantidad</th>
                                                        <th scope="col">Total</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Cuadre.Desgloses.Where(d => d.Denominacion.TipoMonedaId == 1))
                                                    {
                                                        <tr>
                                                            <th scope="row">@item.Denominacion.Valor</th>
                                                            <td>
                                                                <label>@item.Cantidad</label>
                                                            </td>
                                                            <td>
                                                                <RadzenLabel Text="@((item.Cantidad * item.Denominacion.Valor).ToString("C2"))"></RadzenLabel>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="table-responsive-sm">
                                            <table class="table table-sm" style="width:100%">
                                                <thead>
                                                    <tr>
                                                        <th colspan="3" scope="col" style="text-align: center">
                                                            <h5>Monedas</h5>
                                                        </th>
                                                    </tr>
                                                    <tr>
                                                        <th scope="col">Valor</th>
                                                        <th scope="col" style="width:10%">Cantidad</th>
                                                        <th scope="col">Total</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Cuadre.Desgloses.Where(d => d.Denominacion.TipoMonedaId == 2))
                                                    {
                                                        <tr>
                                                            <th scope="row">@item.Denominacion.Valor</th>
                                                            <td>
                                                                <label>@item.Cantidad</label>
                                                            </td>
                                                            <td>
                                                                <RadzenLabel Text="@(item.Total.ToString("C2"))"></RadzenLabel>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </RadzenCard>
                        </div>
                        <div class="col-sm-4">
                            <RadzenCard Style="padding:5px">
                                <h5>Efectivo en Caja</h5>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Total Cuadre</label>
                                        </div>
                                        <div class="form-group">
                                            <label>Total Ventas al Contado</label>
                                        </div>
                                        <div class="form-group">
                                            <label>Total Dev. Contado</label>
                                        </div>
                                        <div class="form-group">
                                            <label>Total CXC Recibos</label>
                                        </div>
                                        <div class="form-group">
                                            <label>Fondo Caja</label>
                                        </div>
                                        <div class="form-group">
                                            <label>Total Caja</label>
                                        </div>
                                        <div class="form-group">
                                            @if (Cuadre.MontoEfectivo >= Cuadre.Ventas.Sum(v => v.Total))
                                            {
                                                <label>Sobrante</label>
                                            }
                                            else if (Cuadre.MontoEfectivo < Cuadre.Ventas.Sum(v => v.Total))
                                            {
                                                <label>Faltante</label>
                                            }
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <div>
                                                <RadzenLabel Text="@(Cuadre.Desgloses.Sum(c => c.Total).ToString("C2"))" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div>
                                                <RadzenLabel Text="@(Cuadre.Ventas.Sum(v => v.MontoEfectivo - v.MontoDevuelta).ToString("C2"))" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div>
                                                <RadzenLabel Text="@(Cuadre.Devoluciones.Sum(v => v.Total).ToString("C2"))" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div>
                                                <RadzenLabel Text="@(Cuadre.RecibosIngresos.Where(ri=>ri.CXCTransaccionTipoId == 3).Sum(v => v.Monto).ToString("C2"))" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div>
                                                <RadzenLabel Text="@(Cuadre.FondoCaja.ToString("C2"))" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div>
                                                <RadzenLabel Text="@((Cuadre.Desgloses.Sum(d => d.Total) + Cuadre.FondoCaja).ToString("C2"))" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div>
                                                <RadzenLabel Text="@((Cuadre.MontoEfectivo - Cuadre.Ventas.Sum(d => d.MontoEfectivo - d.MontoDevuelta) - Cuadre.RecibosIngresos.Where(ri=>ri.CXCTransaccionTipoId == 3).Sum(v => v.Monto) + Cuadre.Devoluciones.Sum(v => v.Total)).ToString("C2"))" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </RadzenCard>
                        </div>
                    </div>
                </RadzenCard>
            </MudTabPanel>
            <MudTabPanel Text="Ventas">
                <RadzenCard>
                    <div class="table-responsive-sm" style="width:100%;height:400px; overflow:scroll">
                        <table class="table table-sm" >
                            <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Tipo</th>
                                    <th scope="col">Tipo Orden</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Celular</th>
                                    <th scope="col">Fecha Finalizado</th>
                                    <th scope="col">Usuario</th>
                                    <th scope="col">Sub-Total</th>
                                    <th scope="col">Descuento</th>
                                    <th scope="col">Delivery</th>
                                    <th scope="col">Total</th>
                                    <th scope="col">Monto Efectivo</th>
                                    <th scope="col">Devuelta</th>
                                    <th scope="col" style="width:10%"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Cuadre.Ventas)
                                {
                                    <tr>
                                        <th scope="row">@item.Id</th>
                                        <th scope="row">@item.TipoFactura.Nombre</th>
                                        @if (item.TipoOrdenId != null)
                                        {
                                            <td>@(item.TipoOrden.Nombre)</td>
                                        }
                                        else
                                        {
                                            <td>@("Sin pedido")</td>
                                        }
                                        <td>@item.NombreCliente</td>
                                        <td>@item.CelularCliente</td>
                                        <td>@item.FechaFinalizado</td>
                                        <td>@item.Usuario.UserName</td>
                                        <td>@String.Format("{0:C2}", item.SubTotal)</td>
                                        <td>@String.Format("{0:C2}", item.Descuento)</td>
                                        <td>@String.Format("{0:C2}", item.Delivery)</td>
                                        <td>@String.Format("{0:C2}", item.Total)</td>
                                        <td>@String.Format("{0:C2}", item.MontoEfectivo)</td>
                                        <td>@String.Format("{0:C2}", item.MontoDevuelta)</td>
                                        <td>
                                            <RadzenButton Icon="preview" Click="@(() => BtnVistaPreviaVentaClick(item.Id))"></RadzenButton>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </RadzenCard>
            </MudTabPanel>
            <MudTabPanel Text="Devoluciones">
                <RadzenCard Style="width:100%; width:fit-content()">
                    <div class="table-responsive-sm w-auto" style="width:100%; overflow:scroll; height:400px">
                        <table class="table table-sm" style="width:100%">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Cliente</th>
                                    <th scope="col">Fecha de Factura</th>
                                    <th scope="col">Tipo</th>
                                    <th scope="col">Estado</th>
                                    <th scope="col">Sub-Total</th>
                                    <th scope="col">Descuento</th>
                                    <th scope="col">Impuesto</th>
                                    <th scope="col">Total</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Cuadre.Devoluciones)
                                {
                                    <tr>
                                        <th scope="row">@item.Id.ToString()</th>
                                        <td>@(item.ClienteId == null ? "" : item.Cliente.Nombre.ToString())</td>
                                        <td>@String.Format("{0:d}", item.Fecha)</td>
                                        <td>@item.Venta.TipoFactura.Nombre.ToString()</td>
                                        <td>
                                            @if(item.Nulo)
                                            {
                                                <MudIcon Icon="@Icons.Material.Filled.Circle" Color="Color.Error"/>
                                            }
                                            else
                                            {
                                                <MudIcon Icon="@Icons.Material.Filled.Circle" Color="Color.Success"/>
                                            }
                                        </td>
                                        <td>@String.Format("{0:C2}", item.SubTotal)</td>
                                        <td>@String.Format("{0:C2}", item.Descuento)</td>
                                        <td>@String.Format("{0:C2}", item.Impuesto)</td>
                                        <td>@String.Format("{0:C2}", item.Total)</td>
                                        <td>
                                            <RadzenButton Icon="preview" Click="@(() => BtnVistaPreviaDevolucionClick(item.Id))"></RadzenButton>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </RadzenCard>
            </MudTabPanel>
            <MudTabPanel Text="Recibos de Ingresos">
                <RadzenCard Style="width:100%; width:fit-content()">
                    <div class="table-responsive-sm w-auto" style="width:100%; overflow:scroll; height:400px">
                        <table class="table table-sm" style="width:100%">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Tipo Transaccion</th>
                                    <th scope="col">Tipo</th>
                                    <th scope="col">Cliente</th>
                                    <th scope="col">Fecha de Factura</th>
                                    <th scope="col">Usuario</th>
                                    <th scope="col">Estado</th>
                                    <th scope="col">Total</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Cuadre.RecibosIngresos)
                                {
                                    <tr>
                                        <th scope="row">@item.Id.ToString()</th>
                                        <td>@item.CXCTransaccionTipo.Nombre.ToString()</td>
                                        <td>@item.CXCTransaccionTipoDocumento.Nombre.ToString()</td>
                                        <td>@item.Cliente.Nombre.ToString()</td>
                                        <td>@String.Format("{0:d}", item.Fecha)</td>
                                        <td>@item.Usuario.UserName.ToString()</td>
                                        <td>
                                            @if(item.Nulo)
                                            {
                                                <MudIcon Icon="@Icons.Material.Filled.Circle" Color="Color.Error"/>
                                            }
                                            else
                                            {
                                                <MudIcon Icon="@Icons.Material.Filled.Circle" Color="Color.Success"/>
                                            }
                                        </td>
                                        <td>@String.Format("{0:C2}", item.Monto)</td>
                                        <td>
                                            <RadzenButton Icon="preview" Click="@(() => BtnVistaPreviaReciboIngresoClick(item.Id))"></RadzenButton>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </RadzenCard>
            </MudTabPanel>
        </MudTabs>
        
    </RadzenCard>
}
@code{

    [Parameter]
    public int Id { get; set; }
    
    private Cuadre Cuadre { get; set; } = new Cuadre();
    private bool IsBusy { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        await CargarCuadre();
    }
    
    private async Task Imprimir()
    {
        await JSRuntime.AbrirNuevaPagina($"imprimircuadre/{Id}");
    }

    public async Task CargarCuadre()
    {
        IsBusy = true;

        using var DbContext = DbContextFactory.CreateDbContext();

        Cuadre = await DbContext.Cuadres
                                .Include(c => c.Usuario)
                                .Include(c => c.Ventas.Where(v=>v.Nulo == false && v.TipoFacturaId == 2))
                                .ThenInclude(c=>c.TipoFactura)
                                .Include(c => c.Ventas.Where(v=>v.Nulo == false && v.TipoFacturaId == 2))
                                .ThenInclude(c=>c.TipoOrden)
                                .Include(c => c.Ventas.Where(v=>v.Nulo == false && v.TipoFacturaId == 2))
                                .ThenInclude(c=>c.Usuario)
                                .Include(c => c.RecibosIngresos.Where(v=>v.Nulo == false && v.CXCTransaccionTipoId == 3))
                                .ThenInclude(c=>c.Cliente)
                                .Include(c => c.RecibosIngresos.Where(v=>v.Nulo == false && v.CXCTransaccionTipoId == 3))
                                .ThenInclude(c=>c.Usuario)
                                .Include(c => c.RecibosIngresos.Where(v=>v.Nulo == false && v.CXCTransaccionTipoId == 3))
                                .ThenInclude(c=>c.CXCTransaccionTipo)
                                .Include(c => c.RecibosIngresos.Where(v=>v.Nulo == false && v.CXCTransaccionTipoId == 3))
                                .ThenInclude(c=>c.CXCTransaccionTipoDocumento)
                                .Include(c => c.Devoluciones.Where(v=>v.Nulo == false && v.Venta.TipoFacturaId == 2))
                                .ThenInclude(c => c.Venta)
                                .ThenInclude(c => c.TipoFactura)
                                .Include(c => c.Devoluciones.Where(v=>v.Nulo == false && v.Venta.TipoFacturaId == 2))
                                .ThenInclude(c => c.Cliente)
                                .Include(c => c.Desgloses)
                                .ThenInclude(c => c.Denominacion)
                                .SingleOrDefaultAsync(c => c.Id == Id);
        IsBusy = false;
    }

    public void BtnVistaPreviaVentaClick(int Id)
    {
        NavManager.NavigateTo("/ventas/vista/" + Id);
    }
    
    public void BtnVistaPreviaDevolucionClick(int Id)
    {
        NavManager.NavigateTo("/devolucionesdeventa/vista/" + Id);
    }
    
    public void BtnVistaPreviaReciboIngresoClick(int Id)
    {
        NavManager.NavigateTo("/cxc/reciboingreso/vista/" + Id);
    }
}