@inject IMessage IMessage
<!-- Modal -->
<div class="modal fade show" id="exampleModal" tabindex="-1" style="display:block" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Producto a Orden</h5>
                <button type="button" class="close" @onclick="OnCancel">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group" style="padding-left:1rem">
                        <div>Producto:</div>
                        <div>
                            <RadzenLabel class="form-control" Text="@Detalle.Producto.Nombre" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <div>Cantidad</div>
                            <div>
                                <RadzenNumeric TValue="int" Min="1" @bind-Value="Detalle.Cantidad" Change="@((args)=>CantidadModalChange(args))" />
                            </div>
                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <div>Precio:</div>
                            <div>
                                <RadzenLabel class="form-control" Text="@Detalle.Producto.Precio.ToString("C2")" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <div>Descuento:</div>
                            <div>
                                <RadzenNumeric TValue="decimal" @bind-Value="Detalle.Descuento" ShowUpDown="false" Format="0.00" Change="@((args)=>DescuentoModalChange(args))" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <div>Importe:</div>
                            <div>
                                <RadzenLabel class="form-control" Text="@Detalle.Importe.ToString("C2")" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <RadzenButton class="btn btn-danger" Click="OnDelete">Eliminar Producto</RadzenButton>
                <RadzenButton class="btn btn-primary" Click="OnConfirm">Agregar Producto</RadzenButton>
            </div>
        </div>
    </div>
</div>

@code {

    [Parameter] public OrdenDetalle Detalle { get; set; }
    [Parameter] public EventCallback OnCancel { get; set; }
    [Parameter] public EventCallback OnConfirm { get; set; }
    [Parameter] public EventCallback OnDelete { get; set; }

    protected override Task OnInitializedAsync()
    {

        CantidadModalChange(Detalle.Cantidad);
        return base.OnInitializedAsync();
    }

    private void CantidadModalChange(dynamic value)
    {
        if (value <= 0)
        {
            return;
        }
        Detalle.Importe = Detalle.Precio * value;
    }

    private void DescuentoModalChange(dynamic value)
    {
        Detalle.Importe -= value;
    }
}
