@page "/ordenes/vista/{Id:int?}"

@attribute [Authorize] 

@inject IDbContextFactory<ApplicationDbContext> DbContextFactory
@inject IMessage IMessage
@inject NavigationManager NavManager
@inject IJSRuntime IJSRuntime

<MudPaper>
    <MudToolBar>
        <h5>Vista de Orden</h5>
        <MudSpacer />
        <MudTooltip Text="Editar">
            <MudIconButton Icon="@Icons.Material.Filled.Edit" Variant="MudBlazor.Variant.Outlined" Color="Color.Info" OnClick="(()=>EditarOrden(Orden.Id))" />
        </MudTooltip>
        <MudTooltip Text="Anular">
            <MudIconButton Icon="@Icons.Material.Filled.Clear" Variant="MudBlazor.Variant.Outlined" Color="Color.Error" OnClick="AnularOrden" />
        </MudTooltip>
        <MudTooltip Text="Imprimir">
            <MudIconButton Icon="@Icons.Material.Filled.Print" Variant="MudBlazor.Variant.Outlined" Color="Color.Secondary" OnClick="(()=> ImprimirOrden(Orden.Id))" />
        </MudTooltip>
    </MudToolBar>
</MudPaper>
<RadzenCard>
    @if (IsBusy)
    {
        <div class="middle-box">
            <MudProgressCircular Indeterminate="true" Color="Color.Info"/>
        </div>
    }
    else
    {
        <RadzenCard style="padding:5px">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Codigo:</label>
                        <div>
                            <RadzenLabel Text="@Orden.Id.ToString()" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Tipo de Orden</label>
                        <div>
                            <RadzenLabel Text="@Orden.TipoOrden.Nombre" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Fecha:</label>
                        <div>
                            <RadzenLabel Text="@Orden.FechaPedido.ToString("d")" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Estado:</label>
                        <div>
                            @if (Orden.Nulo == true)
                            {
                                <RadzenLabel Text="Orden Anulada" />
                            }
                            else if (Orden.Facturado == true)
                            {
                                <RadzenLabel Text="Orden Facturada" />
                            }
                            else
                            {
                                <RadzenLabel Text="Pendiente" />

                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Cliente:</label>
                        <div>
                            <RadzenLabel Text="@Orden.NombreCliente" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Direccion:</label>
                        <div>
                            <RadzenLabel Text="@Orden.DireccionCliente" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Celular:</label>
                        <div>
                            <RadzenLabel Text="@Orden.CelularCliente" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div>
                                    <label>Sub-Total: </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <label>Descuento: </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <label>Delivery: </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <label>Impuesto: </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <label>Total: </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" style="justify-content:flex-end">
                            <div class="form-group">
                                <div>
                                    <label>@Orden.SubTotal.ToString("C2")</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <label>@Orden.Descuento.ToString("C2")</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <label>@Orden.MontoDelivery.ToString("C2")</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <label>@Orden.Impuesto.ToString("C2")</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <label>@Orden.Total.ToString("C2")</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </RadzenCard>
        <MudTable Items="Orden.OrdenDetalles" T="OrdenDetalle" Dense="true" Height="300px" FixedHeader="true">
            <HeaderContent>
                <MudTh scope="col">Codigo</MudTh>
                <MudTh scope="col">Producto</MudTh>
                <MudTh scope="col">Cantidad</MudTh>
                <MudTh scope="col">Precio</MudTh>
                <MudTh scope="col">Descuento</MudTh>
                <MudTh scope="col">Importe</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd>@context.Producto.Codigo</MudTd>
                <MudTd>@context.NombreProducto.ToString()</MudTd>
                <MudTd>@context.Cantidad.ToString()</MudTd>
                <MudTd>@context.Precio.ToString("C2")</MudTd>
                <MudTd>@context.Descuento.ToString("C2")</MudTd>
                <MudTd>@context.Importe.ToString("C2")</MudTd>
            </RowTemplate>
        </MudTable>
        <MudPaper>
            <h5 style="text-align: center;">Historial</h5>
        </MudPaper>
        <MudTable Items="Orden.OrdenDetalleHistoriales" T="OrdenDetalleHistorial" FixedHeader="true" Dense="true" Height="300px">
            <HeaderContent>
                <MudTh scope="col">No.</MudTh>
                <MudTh scope="col">Usuario</MudTh>
                <MudTh scope="col">Fecha</MudTh>
                <MudTh scope="col">Accion</MudTh>
                <MudTh scope="col">Producto</MudTh>
                <MudTh scope="col">Cantidad</MudTh>
                <MudTh scope="col">Precio</MudTh>
                <MudTh scope="col">Descuento</MudTh>
                <MudTh scope="col">Importe</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd>@context.Id</MudTd>
                <MudTd>@context.Usuario.UserName</MudTd>
                <MudTd>@context.Fecha</MudTd>
                <MudTd>@context.Accion.ToString()</MudTd>
                <MudTd>@context.NombreProducto.ToString()</MudTd>
                <MudTd>@context.Cantidad.ToString()</MudTd>
                <MudTd>@context.Precio.ToString("C2")</MudTd>
                <MudTd>@context.Descuento.ToString("C2")</MudTd>
                <MudTd>@context.Importe.ToString("C2")</MudTd>
            </RowTemplate>
        </MudTable>
    }

</RadzenCard>


@code {
    [Parameter]
    public int? Id { get; set; }

    public bool IsBusy { get; set; } = false;

    public Orden Orden { get; set; } = new Orden();

    protected override async Task OnInitializedAsync()
    {
        await CargarOrden();
    }

    private async Task CargarOrden()
    {
        IsBusy = true;
        using var DbContext = DbContextFactory.CreateDbContext();
        Orden = await DbContext.Ordenes
            .Include(o => o.TipoOrden)
            .Include(o => o.OrdenDetalles)
            .ThenInclude(od => od.Producto)
            .Include(o => o.Sector)
            .Include(o=>o.OrdenDetalleHistoriales)
            .ThenInclude(odh=>odh.Usuario)
            .Include(o=>o.OrdenDetalleHistoriales)
            .ThenInclude(odh=>odh.Producto)
            .SingleOrDefaultAsync(o => o.Id == Id);
        IsBusy = false;
    }

    private async Task AnularOrden()
    {
        if (Orden.Facturado == true)
        {
            await IMessage.Alert("Orden esta facturada no se puede anular!");
            return;
        }

        if (Orden.Nulo == true)
        {
            await IMessage.Alert("Orden ya esta nula!");
            return;
        }

        var Confirm = await IJSRuntime.Confirmar($"Desea anular la Orden {Id} del cliente {Orden.NombreCliente} ?");

        if (Confirm)
        {
            using var DbContext = DbContextFactory.CreateDbContext();

            var OrdenAnular = await DbContext.Ordenes
            .SingleOrDefaultAsync(o => o.Id == Id);

            OrdenAnular.Nulo = true;

            DbContext.Update(OrdenAnular);

            await DbContext.SaveChangesAsync();
            await IMessage.Success($"la orden {OrdenAnular.Id} del cliente {OrdenAnular.NombreCliente} ha sido anulada!");
            await CargarOrden();
        }
    }

    private async void ImprimirOrden(int Id)
    {
        await IJSRuntime.AbrirNuevaPagina($"imprimirorden/{Id}/{true}");
    }

    private async Task EditarOrden(int Id)
    {
        if (Orden.Facturado == true)
        {
            await IMessage.Alert("Orden esta facturada no se puede modificar");
            return;
        }

        if (Orden.Nulo == true)
        {
            await IMessage.Alert("Orden esta anulada no se puede modificar");
            return;
        }

        NavManager.NavigateTo($"/registrodeorden/{Id}/{Uri.EscapeDataString(NavManager.Uri)}");

    }

}
